@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&display=swap');

:root {
    --white: 255 255 255;
    --black: 0 0 0;
    --yellow: #FFCB05;
    --sky-blue: #009be2;
    --light-blue: #30bcfd;
    --light-green: #80FF73;
    --danger: #ff3e5b;
}

/*===========================| RESET |===========================*/

html {
    --electron: clamp(2.5px, .5vw, 5px);
    --transition: .5s;
    --slides-length: 7;
}

body, body *, body *::before, body *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Roboto Slab', sans-serif;
    color: rgb(var(--white));
}

body {
    display: grid;
    position: relative;
    grid-template: 90px auto / 100%;
    background: url(../images/stars.svg), radial-gradient(#002248, rgb(var(--black)));
    min-height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

header, main, footer {
    width: 100%;
}

/*===========================| HEADER |===========================*/
header {
    position: relative;
}

header > div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: max-content;
    height: 60px;
    display: flex;
    flex-direction: row;
}

#logo > div, #logo img {
    height: 100%;
}

#logo > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo img {
    width: auto;
    margin-right: 10px;
}

#logo > div span:first-child {
    font-size: 13px;
    font-weight: 700;
}

#logo > div span:last-child {
    font-size: 9.6px;
    font-weight: 400;
}

/* audio player settings */
#player {
    width: 250px;
    height: 80px;
    position: relative;
    padding-top: 10px;
}

#player > div:nth-child(1) {
    width: 100%;
    display: grid;
    grid-template: 100% / 40px auto 80px;
}

#player > div:nth-child(2), #player > span {
    text-align: center;
}

#player > div:nth-child(2) {
    margin-top: 10px;
    border-top: 1px solid rgb(var(--white) / .2);
}

#player > div:nth-child(2) span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player span {
    padding: 5px 0;
    font-size: 11px;
}

#player > span {
    width: 100%;
    position: absolute;
    top: 100%;
    display: block;
    color: var(--yellow);
    font-weight: 300;
}

#player > div:nth-child(1) picture {
    width: 40px;
    height: 40px;
}

#player > div:nth-child(1) picture img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

#player > div:nth-child(1) > div div {
    display: flex;
    width: auto;
    height: 100%;
    padding: 0 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#player > div:nth-child(1) > div button {
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid rgb(var(--white));
    border-radius: 50%;
    opacity: .2;
    transition: var(--transition);
}

#player > div:nth-child(1) > div button:hover {
    opacity: .6;
}

/*left button & right button*/
#player > div:nth-child(1) > div button:nth-child(1)::before,
#player > div:nth-child(1) > div button:nth-child(1)::after,
#player > div:nth-child(1) > div button:nth-child(3)::before,
#player > div:nth-child(1) > div button:nth-child(3)::after {
    content: '';
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: rgb(var(--white));
}

#player > div:nth-child(1) > div button:nth-child(1)::before,
#player > div:nth-child(1) > div button:nth-child(3)::before {
    width: 1px;
}

#player > div:nth-child(1) > div button:nth-child(1)::after,
#player > div:nth-child(1) > div button:nth-child(3)::after {
    width: calc(100% / 2.5);
    left: 50%;
}

/*left button*/
#player > div:nth-child(1) > div button:nth-child(1)::before {
    left: 25%;
}

#player > div:nth-child(1) > div button:nth-child(1)::after {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

/*right button*/
#player > div:nth-child(1) > div button:nth-child(3)::before {
    right: 25%;
}

#player > div:nth-child(1) > div button:nth-child(3)::after {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

/*middle button*/
#player > div:nth-child(1) > div button:nth-child(2) {
    width: 30px;
    height: 30px;
}

#player > div:nth-child(1) > div button:nth-child(2)::before,
#player > div:nth-child(1) > div button:nth-child(2).play::before,
#player > div:nth-child(1) > div button:nth-child(2).play::after {
    content: '';
    position: absolute;
}

#player > div:nth-child(1) > div button:nth-child(2)::before {
    width: calc(100% / 2.5);
    height: 50%;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: block;
    background: rgb(var(--white));
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

#player > div:nth-child(1) > div button:nth-child(2).play::before,
#player > div:nth-child(1) > div button:nth-child(2).play::after {
    width: 4px;
    height: 50%;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    background: rgb(var(--white));
}

#player > div:nth-child(1) > div button:nth-child(2).play::before {
    left: 30%;
    clip-path: none;
}

#player > div:nth-child(1) > div button:nth-child(2).play::after {
    right: 30%;
}

/*infos span*/
#player > div:nth-child(1) span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav button {
    transition: color var(--transition);
    padding: 5px;
    font-size: 16px;
}

nav > button {
    width: 45px;
    text-transform: uppercase;
    font-weight: 300;
    margin-right: 15px;
    text-decoration: underline;
}

nav > button:hover {
    color: rgb(var(--white) / .6);
}

nav > div button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav > div button span {
    width: 25px;
    height: 1px;
    margin: 3.5px ;
    background: rgb(var(--white));
    transition: var(--transition);
}

nav > div ul {
    width: max-content;
    display: none;
    position: absolute;
    top: 90px;
    right: 5%;
    z-index: 1;
    background: rgb(var(--white) / .2);
}

nav > div ul::before {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    top: -7px;
    right: 10px;
    display: block;
    width: 10px;
    height: 7px;
    background: rgb(var(--white) / .2);
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

nav > div ul li {
    font-size: 13px;
    font-weight: 400;
}

nav > div ul li:not(:last-child) {
    border-bottom: 1px solid rgb(var(--white) / .2);
}

nav > div ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: var(--transition);
}

nav > div ul li a:hover {
    background: rgb(var(--white) / .1);
}

nav > div button span:nth-child(1).line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

nav > div button span:nth-child(2).line2 {
    opacity: 0;
}

nav > div button span:nth-child(3).line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

nav > div ul.show-menu {
    display: block;
}

/*===========================| MAIN |===========================*/

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main button[name="previous slide"], main button[name="next slide"] {
    width: 30px;
    height: 30px;
}

main button[name="previous slide"]::before, main button[name="next slide"]::before {
    content:'';
    position: absolute;
    width: calc(100% / 2.5);
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: rgb(var(--white) / .4);
    transition: background var(--transition);
}

main button[name="previous slide"]::before {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

main button[name="next slide"]::before {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

main button[name="previous slide"]:hover::before, main button[name="next slide"]:hover::before {
    background: rgb(var(--white));
}

#main-container {
    width: clamp(300px, 90vw, 960px);
    position: relative;
    margin: 0 auto;
}

#main-container > div {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(var(--white) / .2);
    background: rgb(var(--white) / .025);
}

#main-container > button, #main-container > span {
    position: absolute;
}

#main-container > button {
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-container > button:nth-child(2) {
    left: 0;
    transform: translate(-50%, -50%);
}

#main-container > button:nth-child(3) {
    right: 0;
    transform: translate(50%, -50%);
}

#main-container > button:nth-child(2).none, #main-container > button:nth-child(3).none {
    display: none;
}

#main-container > span, #main-container > span ul, #main-container > span ul li {
    display: flex;
}

#main-container > span {
    width: 100%;
    bottom: -30px;
    justify-content: center;
}

#main-container > span ul li:not(:last-child) {
    padding-right: 15px;
}

#main-container > span ul li button {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(var(--white));
    transform: rotateZ(45deg);
    transition: calc(var(--transition) / 2);
}

#main-container > span ul li button:hover {
    background: rgb(var(--white) / .2);
}

#main-container > span ul li button.active {
    background: rgb(var(--white));
    border-radius: 50%;
}

#main-container > div > div {
    border-top: 1px solid rgb(var(--white) / .2);
    border-bottom: 1px solid rgb(var(--white) / .2);
}

#main-container > div h1, #main-container > div footer {
    padding: 10px 30px;
}

#main-container > div h1, .slide:not(:first-child)::after {
    font-size: clamp(20px, 3vw, 24px);
}

#main-container > div h1 {
    color: var(--light-blue);
    font-family: 'Roboto Slab', sans-serif;
}

#main-container > div h1.fade {
    animation: h1-fade var(--transition) ease-in-out;
}

#main-container footer, #main-container footer div:last-child ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-container footer {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#main-container footer div:first-child span {
    font-size: 11.5px;
}

#main-container footer div:last-child ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#main-container footer div:last-child ul li {
    width: 20px;
    height: 20px;
}

#main-container footer div:last-child ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
}

#main-container footer div:last-child ul li a svg {
    fill: rgb(var(--white) / .4);
    transition: var(--transition);
}

#main-container footer div:last-child ul li a svg:hover {
    fill: rgb(var(--white));
}

#window-slider {
    width: 100%;
    overflow: hidden;
}

#slider {
    display: flex;
    flex-direction: row;
    width: calc(100% * var(--slides-length));
    transition: transform ease-in-out var(--transition);
}

.slide {
    width: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
}

.slide:not(:first-child)::after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 30px;
    top: 12px;
    color: var(--light-blue);
    font-family: 'Roboto Slab', sans-serif;
}

.slide:not(:first-child) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slide h2 {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
}

.slide h3,
.slide p,
.slide span,
.slide li,
.slide figcaption,
.slide th,
.slide td,
.slide input,
.slide textarea {
    font-size: clamp(14px, 1.5vw, 16px);
}

.slide h3,
.slide p,
.slide span,
.slide li,
.slide figcaption,
.slide td,
.slide input,
.slide textarea {
    font-weight: 300;
}

.slide h2, .slide p {
    line-height: clamp(20px, 2vw, 26px);
}

.slide mark {
    font-size: clamp(10px, 1vw, 13px);
    background: none;
    border-top: 1px solid rgb(var(--white) / .2);
    padding-top: 5px;
    color: var(--yellow);
}

.slide > ul {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.slide > ul li {
    font-size: 11px;
    font-weight: 400;
    color: var(--yellow);
}

.slide > ul li.hidden {
    visibility: hidden;
}

.slide > ul li button {
    position: relative;
}

.slide input[type="submit"], .slide button[name="playlist evolution"] {
    background: var(--sky-blue);
}

.slide input[type="submit"]:hover, .slide button[name="playlist evolution"]:hover {
    background: var(--light-blue);
}

.button-move-left {
    animation: btn-main-left var(--transition) ease;
    display: flex !important;
}

.button-move-right {
    animation: btn-main-right var(--transition) ease;
}

.landmarks-move {
    animation: landmarks var(--transition) ease;
}

@keyframes h1-fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes btn-main-left {
    0% {
        transform: translate(-50%, -50%);
    } 50% {
        transform: translate(-80%, -50%);
    } 100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes btn-main-right {
    0% {
        transform: translate(50%, -50%);
    } 50% {
        transform: translate(80%, -50%);
    } 100% {
        transform: translate(50%, -50%);
    }
}

@keyframes landmarks {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.1);
    } 100% {
        transform: scale(1);
    }
}

/*===========================| SHOW IMAGES |===========================*/

#show-images {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(var(--black) / .9);
}

#show-images > div {
    display: flex;
    justify-content: center;
    width: max-content;
    position: relative;
}

#show-images > div img {
    width: 100%;
}

#show-images > div img[data-name="player"] {
    position: relative;
    width: 102px;
    height: 102px;
    object-fit: none;
    object-position: 100px 0;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 50%;
}

#show-images > div[data-name="player-container"]::before, #show-images > div[data-name="player-container"]::after {
    position: absolute;
    display: block;
    transform: translateX(-50%);
}

#show-images > div[data-name="player-container"]::before {
    content: attr(data-infos-number);
    color: rgb(var(--white) / .4);
    font-size: 50px;
    font-weight: 700;
    top: -60px;
    left: 50%;
}

#show-images > div[data-name="player-container"]::after {
    content: attr(data-infos-name);
    width: max-content;
    bottom: -30px;
    left: 50%;
    color: rgb(var(--white));
}

#show-images > div button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

#show-images > div button.center-btn {
    left: 50%;
    top: unset;
    right: unset;
    bottom: -80px;
    transform: translate(-50%, -50%);
}

#show-images > div button svg {
    width: 100%;
    height: auto;
}

#show-images > div button svg circle, #show-images > div button svg polygon {
    transition: fill var(--transition);
}

#show-images > div button svg circle {
    fill: rgb(var(--white) / .2);
}

#show-images > div button svg polygon {
    fill: rgb(var(--white) / .6);
}

#show-images > div button:hover svg circle {
    fill: rgb(var(--white) / .6);
}

#show-images > div button:hover svg polygon {
    fill: rgb(var(--black) / .6);
}

/*===========================| PRESENTATION |===========================*/

#presentation {
    background: center / cover no-repeat url(../images/sphere.png);
}

#presentation > div:first-child, #presentation > div:last-child {
    width: 100%;
}

#presentation > div:first-child {
    display: flex;
    flex-direction: row;
}

#presentation > div:not(:first-child) {
    margin-top: 30px;
}

#presentation > div > div:first-child {
    width: 200px;
    aspect-ratio: 1 / 1;
    margin-right: clamp(20px, 3vw, 30px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(var(--white) / .1);
    border-radius: 50%;
}

#presentation > div > div:last-child {
    width: auto;
}

#presentation > div > div:first-child img {
    width: auto;
    height: 70%;
}

#presentation > div > div:first-child::after {
    content: '';
    display: block;
    width: var(--electron);
    height: var(--electron);
    position: absolute;
    top: 50%;
    left: calc(var(--electron) / -2);
    transform: translate(-50%, -50%);
    transform-origin: calc(100px + calc(var(--electron) / 2)) 0;
    border-radius: 50%;
    background: var(--yellow);
    animation: rotation-electron linear 4s infinite;
}

#presentation ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#presentation ul li {
    font-size: clamp(18px, 2.5vw, 24px);
    font-weight: 100;
    padding: clamp(2px, .5vw, 5px) 0;
    text-shadow: 0 0 clamp(6px, 1vw, 10px) #002c60;
}

#presentation > div p {
    line-height: clamp(26px, 3vw, 28px);
}

#presentation > div p strong, #presentation > div p a {
    font-weight: 700;
}

#presentation > div p span {
    text-decoration: underline;
    cursor: default;
}

@keyframes rotation-electron {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}

/*===========================| JOURNEY |===========================*/
#parcours > div {
    overflow: hidden;
}

#parcours > div > div {
    width: 300%;
    display: flex;
    height: max-content;
    transition: transform ease-in-out var(--transition);
}

#parcours > div > div > div {
    width: calc(300% / 6);
    justify-self: center;
    height: auto;
}

#parcours > div > div > div > div {
    width: 100%;
    display: flex;
    padding: 15px;
}

#parcours > div > div > div > div:not(:last-child) {
    justify-content: center;
}

#parcours > div > div > div > div:first-child img {
    width: auto;
    height: 60px;
}

#parcours > div > div > div > div:nth-child(2) {
    flex-direction: column;
}

#parcours > div > div > div > div h2, #parcours > div > div > div span {
    text-align: center;
    margin-bottom: 5px;
}

#parcours > div > div > div > div p {
    text-align: center;
}

#parcours > div > div > div > div p strong {
    font-weight: 500;
}


/*===========================| SKILLS |===========================*/

#competences > div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#competences > div > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#competences > div > ul > li {
    width: 50%;
    padding: 30px;
}

#competences > div > ul h2 {
    margin-bottom: 10px;
}

#competences > div > ul > li ul li {
    display: grid;
    grid-template: 20px / 20px 110px auto;
    padding: clamp(5px, 1vw, 10px) 0;
}

#competences > div > ul > li ul li > span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
}

#competences > div > ul > li:nth-child(-n+2) ul li > span:nth-child(1) {
    border-radius: 3px;
}

#competences > div > ul > li ul li > span:nth-child(2) {
    margin-left: 10px;
    align-self: center;
}

#competences > div > ul > li ul li div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#competences > div > ul > li ul li div span {
    width: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: rgb(var(--white) / .2);
}

#competences > div > ul > li ul li div span.niveau {
    background: rgb(var(--white)) !important;
}

#photoshop > span:nth-child(1) {
    background: #001d26;
    border-color: #0fc8ff;
    color: #0fc8ff;
}

#illustrator > span:nth-child(1) {
    background: #261300;
    border-color: #ff810a;
    color: #ff810a;
}

#indesign > span:nth-child(1) {
    background: #26000f;
    border-color: #ff4895;
    color: #ff4895;
}

#aftereffects > span:nth-child(1) {
    background: #1f003f;
    border-color: #b180d6;
    color: #b180d6;
}

#premiere > span:nth-child(1) {
    background: #2a0033;
    border-color: #bf64d6;
    color: #bf64d6;
}

#animate > span:nth-child(1) {
    background: #260600;
    border-color: #ff4624;
    color: #ff4624;
}

#ts > span:nth-child(1) {
    background: #2f74c0;
    border: none !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    line-height: 11px;
    color: #fff;
}

#js > span:nth-child(1) {
    background: #e3a129;
    border: none !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    line-height: 11px;
    color: rgb(var(--black));
}


#rust > span:nth-child(1) svg {
    width: 100%;
    aspect-ratio: 1 / 1;
    fill: #f9510a;
}

#vue > span:nth-child(1) {
    position: relative;
    border: none !important;
}

#vue > span:nth-child(1) span:first-child {
    position: absolute;
    width: 14px;
    height: 14px;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    background: #35495e;
    clip-path: polygon(0 0, 40% 0, 50% 50%, 60% 0, 100% 0, 50% 100%, 0 0);
}

#vue > span:nth-child(1) span {
    width: 100%;
    height: 100%;
    background: #41b883;
    clip-path: polygon(0 0, 20% 0, 50% 65%, 80% 0, 100% 0, 50% 100%, 0 0);
}

#react > span:nth-child(1) {
    position: relative;
    border: none !important;
}

#react > span:nth-child(1) span:nth-child(1) {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #5dd5ff;
}

#react > span:nth-child(1) span:not(:nth-child(1)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 100%;
    height: 50%;
    border-radius: 50%;
    border: .1em solid #5dd5ff;
}

#react > span:nth-child(1) span:nth-child(3) {
    transform: translate(-50%, -50%) rotateZ(60deg);
}

#react > span:nth-child(1) span:nth-child(4) {
    transform: translate(-50%, -50%) rotateZ(-60deg);
}

#deno > span:nth-child(1) svg {
    width: 100%;
    aspect-ratio: 1 / 1;
    fill: rgb(var(--white) / 1);
}

/*===========================| PRINT |===========================*/

#print > div, #print > div > div > div div figure {
    width: 100%;
    height: 100%;
}

#print > div {
    overflow: hidden;
}

#print > div > div {
    width: 200%;
    height: 100%;
    display: grid;
    grid-template: 100% / calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
    transition: transform ease-in-out var(--transition);
}

#print > div > div > div, #print > div > div > div div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#print > div > div > div {
    width: 100%;
    height: 90%;
    justify-content: center;
    align-self: center;
}

#print > div > div > div > div {
    width: 80%;
    text-decoration: none;
    cursor: pointer;
}

#print > div > div > div > div figure img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 10px;
}

#print > div > div > div:nth-child(5) > div figure img {
    width: calc(100% * .92);
}

#print > div > div > div:nth-child(6) > div figure img {
    width: calc(100% * .71);
}

#print > div > div > div > div figure figcaption {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*===========================| VIDEO |===========================*/

#motion > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#motion > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#motion > div > div {
    width: 200%;
    height: 100%;
    transition: var(--transition);
}

#motion > div > div > div {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

/* video player settings */
.video-container {
    width: 70%;
    overflow: hidden;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 10px;
}

.video-container > iframe,
.video-container > div,
.video-container > div video,
.video-container > div p,
.video-container > div > div,
.timeline,
.btns-container {
    width: 100%;
}

.video-container > iframe {
    border: none;
    display: block;
}

.video-container > div {
    display: flex;
    position: relative;
    background: rgb(var(--black));
}

.video-container > div:hover > div:nth-child(2) {
    transform: translateY(0);
    opacity: 1;
}

.video-container > div video {
    height: auto;
    transition: calc(var(--transition) * 2);
}

.video-container > div video:-webkit-full-screen {
    height: 100%;
}

.video-container > div > div:nth-child(2) {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    background: rgb(var(--black) / .6);
    transform: translateY(100%) translateY(-3px);
    transition: var(--transition);
    opacity: 0;
    z-index: 2;
}

.video-container > div > div:nth-child(4) {
    position: absolute;
    background-size: cover;
    height: 100%;
    opacity: 1;
    transition: var(--transition);
}

.video-container > div > div:nth-child(4) div {
    display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(transparent, rgb(0 0 0 / .9) 70%);
    padding: 20px 20px;
    transition: padding var(--transition);
}

.video-container > div:hover > div:nth-child(4) div {
    padding: 20px 20px 50px;
} 

.timeline {
    height: 3px;
    cursor: pointer;
    background: rgb(var(--white) / .2);
    position: relative;
}

.timeline div:nth-child(1) {
    height: 100%;
    width: 0;
    background: rgb(var(--white));
}

.timeline div:nth-child(2), .timeline span {
    display: none;
    position: absolute;
}

.timeline div:nth-child(2) {
    width: 8px ;
    height: 8px;
    background: rgb(var(--white));
    border-radius: 50%;
    top: 1px;
    z-index: 3;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgb(var(--black) / .6);
}

.timeline span {
    width: 120px;
    height: max-content;
    background: rgb(var(--white) / .2);
    padding: 5px;
    border-radius: 3px;
    bottom: 20px;
    z-index: 2;
    transform: translateX(-50%);
}

.timeline span video {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.btns-container {
    display: flex;
    align-items:center;
    padding: 8px;
    justify-content: space-between;
}

.btns-container div {
    display: inherit;
    align-items: inherit;
    gap: 7px;
}

.btns-container div:last-child button:hover {
    color: rgb(var(--white));
}

.btns-container svg {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    fill: rgb(var(--white) / .4);
    transition: var(--transition);
}

.btns-container svg:hover {
    fill: rgb(var(--white));
}

.btns-container div:last-child > div {
    position: relative;
    width: clamp(50px, 7vw, 100px);
    height: 2px;
    background: rgb(var(--white) / .4);
    cursor: pointer;
    transition: background var(--transition);
}

.btns-container div:last-child > div:hover {
    background: rgb(var(--white) / .7);
}

.btns-container div:last-child > div > div {
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 10px;
    aspect-ratio: 1 / 1;
    background: rgb(var(--white));
}

.btns-container div:last-child > div > div.none {
    display: none;
}

.btns-container div > span {
    color: rgb(var(--white));
    margin-left: 10px;
}
.btns-container div > span span {
    font-size: 12px;
}

.btns-container div > span span:nth-child(1) {
    text-align: right;
}

.btns-container div > span span:nth-child(2) {
    text-align: center;
}

.btns-container div > span span:nth-child(3) {
    text-align: left;
}

.icone-play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.icone-play svg {
    width: 100px;
    height: auto;
    fill: rgb(var(--white));
    opacity: 0.15;
}

/*===========================| PROGRAMMING |===========================*/
#code > div > div {
    display: flex;
    width: 200%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    transition: transform ease-in-out var(--transition);
}

#code > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#code > div > div > div {
    display: inherit;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.code-container {
    width: 100%;
    display: grid;
    height: max-content;
}

.code-container h2, .code-container p {
    margin-bottom: 10px;
}

/*-------| Football |-------*/
#football-teams {
    grid-template: max-content / 33% auto 33%;
}

#football-teams > div:nth-child(1) div {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 10px;
    padding: 10px;
}

#football-teams > div:nth-child(1) div h3 {
    padding-right: 10px;
    border-right: 1px solid rgb(var(--white) / .2);
}

#football-teams > div:nth-child(1) div button {
    position: relative;
}

#football-teams > div:nth-child(1) div mark {
    border-top: none;
    padding-top: 0;
    margin: 0 5px;
}

#football-teams > div:nth-child(2) {
    position: relative;
    height: max-content;
    justify-self: center;
}

#football-teams > div:nth-child(2) figure {
    height: 370px;
}

#football-teams > div:nth-child(2) figure img {
    width: auto;
    height: 100%;
    display: block;
}

#football-teams > div:nth-child(2) > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    grid-template: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% / 11.11111111111111% 11.11111111111111% 11.11111111111111% 11.11111111111111% 11.11111111111111% 11.11111111111111% 11.11111111111111% 11.11111111111111% 11.11111111111111%;
    padding: 10px;
}

.positionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.positionnement span {
    color: rgb(var(--white));
    font-size: clamp(11px, 1.5vw, 13px);
    font-weight: 700;
    text-align: center;
}

.positionnement span:nth-child(1) {
    width: 25px;
    height: 25px;
    display: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgb(var(--black) / 2);
    line-height: 1;
}

.positionnement span:nth-child(2) {
    text-shadow: 0 1px 1px rgb(var(--black) / .8);
}

#football-teams > div:nth-child(3) {
    display: grid;
    row-gap: 10px;
}

#football-teams > div:nth-child(3) > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#football-teams > div:nth-child(3) > div:nth-child(1) {
    border-bottom: 1px solid rgb(var(--white) / .2);
    padding-bottom: 10px;
}

#football-teams > div:nth-child(3) > div:nth-child(1) h3 {
    margin-left: 10px;
}

#football-teams > div:nth-child(3) > div:nth-child(1) img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 0 0;
}

#football-teams > div:nth-child(3) > div:nth-child(2) ul li {
    text-align: right;
    padding: clamp(2px, .2vw, 5px) 0;
}

#football-teams > div:nth-child(3) > div:nth-child(2) ul li span {
    font-weight: 300;
}

#football-teams > div:nth-child(3) > div:nth-child(3) {
    min-width: 75%;
    position: relative;
    justify-self: end;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 10px;
}

#football-teams > div:nth-child(3) > div:nth-child(3) figure {
    width: 100%;
    display: inherit;
    flex-direction: column;
}

/* Under 850 pixels, the '#show-images img' shared the same UI than '#football-teams figure img'. */
#football-teams > div:nth-child(3) > div:nth-child(3) figure img, #show-images > div img[data-name="player"] {
    width: 102px;
    height: 102px;
    object-fit: none;
    object-position: 100px 0;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 50%;
}

#football-teams > div:nth-child(3) > div:nth-child(3) figure img {
    margin: 10px;
}

#football-teams > div:nth-child(3) > div:nth-child(3)::before {
    content: attr(data-num);
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 64px;
    font-weight: 700;
    opacity: .2;
    line-height: 1;
}

#football-teams > div:nth-child(3) > div:nth-child(3) figure figcaption {
    border-top: 1px solid rgb(var(--white) / .2);
    padding: 10px;
}

#football-teams > div:nth-child(3) > div:nth-child(3) figure figcaption li:not(:first-child) {
    font-weight: 300;
}

/*-------| Music |-------*/
#music-playlist {
    grid-template: max-content / 35% 60%;
    gap: 5%;
}

#music-playlist > div:nth-child(1) p {
    min-height: 77px;
}

#music-playlist > div:nth-child(1) > div div:first-child, #music-playlist > div:nth-child(1) > div div:first-child span {
    display: flex;
    align-items: center;
}

#music-playlist > div:nth-child(1) > div div:first-child > button {
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    transition: background var(--transition);
}

#music-playlist > div:nth-child(1) > div div:first-child span {
    display: none;
    margin-left: 10px;
    font-size: 13px;
}

#music-playlist > div:nth-child(1) > div div:first-child span button {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

#music-playlist > div:nth-child(1) > div div:first-child span button svg path {
    fill: rgb(var(--white) / .6);
    transition: var(--transition);
}

#music-playlist > div:nth-child(1) > div div:first-child span button:hover svg path {
    fill: rgb(var(--white));
}

#music-playlist > div:nth-child(1) > div div:last-child {
    width: 170px;
    height: 170px;
    background: url(../images/sprite_pochettes_zouk.png) rgb(var(--white) / .2) no-repeat;
    background-size: cover;
    background-position: -1700px 0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    transition: background-position var(--transition);
}

#music-playlist > div:nth-child(2) {
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 10px;
    overflow: hidden;
}

#music-playlist > div:nth-child(2) h3, #music-playlist > div:nth-child(2) table th, #music-playlist > div:nth-child(2) table td {
    padding: 5px;
}

#music-playlist > div:nth-child(2) h3, #music-playlist > div:nth-child(2) table tr:first-child {
    border-bottom: 1px solid rgb(var(--white) / .2);
}

#music-playlist > div:nth-child(2) h3 {
    text-align: center;
}

#music-playlist > div:nth-child(2) table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

#music-playlist > div:nth-child(2) table tr:not(:first-child) {
    cursor: pointer;
}

#music-playlist > div:nth-child(2) table tr:nth-child(even) {
    background: rgb(var(--white) / .05);
}

#music-playlist > div:nth-child(2) table tr th, #music-playlist > div:nth-child(2) table tr td {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#music-playlist > div:nth-child(2) table tr th:nth-child(1), #music-playlist > div:nth-child(2) table tr td:nth-child(1) {
    width: 8%;
    text-align: center;
}

#music-playlist > div:nth-child(2) table tr th:nth-child(2), #music-playlist > div:nth-child(2) table tr td:nth-child(2) {
    width: 24%;
    text-align: left;
}

#music-playlist > div:nth-child(2) table tr th:nth-child(3), #music-playlist > div:nth-child(2) table tr td:nth-child(3) {
    width: 27%;
    text-align: left;
}

#music-playlist > div:nth-child(2) table tr th:nth-child(4), #music-playlist > div:nth-child(2) table tr td:nth-child(4) {
    width: 29%;
    text-align: left;
}

#music-playlist > div:nth-child(2) table tr th:nth-child(5), #music-playlist > div:nth-child(2) table tr td:nth-child(5) {
    width: 12%;
    text-align: left;
}

/*===========================| CONTACT |===========================*/
#contact > div {
    display: inherit;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

#contact form {
    padding: 20px;
    display: grid;
    grid-template: max-content max-content max-content max-content max-content / 48% 48%;
    grid-column-gap: 4%;
    border: 1px solid rgb(var(--white) / .2);
    border-radius: 10px;
    margin-top: 20px;
}

#contact form input, #contact form textarea {
    border: none;
}

#contact form input[type="text"], #contact form input[type="email"], #contact form textarea {
    padding: 5px 0;
    border-bottom: 1px solid rgb(var(--white) / .2);
    outline: none;
    background: none;
}

#contact form input[type="text"]::placeholder, #contact form input[type="email"]::placeholder, #contact form textarea::placeholder {
    color: rgb(var(--white));
}

#contact form input[type="text"]:focus::placeholder, #contact form input[type="email"]:focus::placeholder, #contact form textarea:focus::placeholder {
    opacity: 0;
}

#contact form input[type="text"]:focus, #contact form input[type="email"]:focus, #contact form textarea:focus {
    background: none;
}

#contact form input[type="text"], #contact form input[type="email"] {
    margin-bottom: 20px;
}

#contact form textarea, #contact form span:nth-child(6) {
    width: 100%;
}

#contact form textarea {
    grid-area: 3 / 1 / 4 / 3;
    height: 120px;
    margin-bottom: 10px;
}

#contact form span {
    font-size: clamp(12px, 1.5vw, 14px);
}

#contact form span {
    grid-area: 4 / 1 / 5 / 3;
    margin-bottom: 20px;
    position: relative;
}

#contact form span::after {
    content: attr(data-required);
    color: var(--danger);
    position: absolute;
    top: 0;
    height: inherit;
    margin-left: 30px;
    font-weight: 700;
}

#contact form input[type="submit"] {
    width: max-content;
    height: max-content;
    position: relative;
    padding: 10px 40px;
    border-radius: 5px;
    grid-area: 5 / 1 / 6 / 2;
    transition: background var(--transition);
    cursor: pointer;
}

#mail-modal {
    width: clamp(300px, 90%, 500px);
    height: max-content;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(var(--white) / 1);
    overflow: hidden;
    z-index: 10;
    border-radius: 10px;
    border: none;
}

#mail-modal::backdrop {
    background: rgb(0 0 0 / .85);
}

#mail-modal > header,
#mail-modal > div {
    padding: 22px;
}

#mail-modal > header {
    background: var(--sky-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#mail-modal > header > h2 {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1;
}

#mail-modal > header > button {
    position: relative;
    background: rgb(var(--black) / .25);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1 / 1;
    transition: background var(--transition);
}

#mail-modal > header > button:hover {
    background: rgb(var(--black) / .4);
}

#mail-modal > header > button span {
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgb(var(--white) / 1);
    height: 2px;
    width: 60%;
}

#mail-modal > header > button span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

#mail-modal > header > button span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}
    
#mail-modal > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

#mail-modal > div > p {
    width: 100%;
    color: rgb(var(--black) / 1);
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

#mail-modal > div > button {
    font-size: 16px;
    background: var(--sky-blue);
    width: max-content;
    height: max-content;
    padding: 10px 40px;
    border-radius: 5px;
    transition: background var(--transition);
}

#mail-modal > div > button:hover {
    background: var(--light-blue);
}

#captcha {
    display: flex;
    justify-content: flex-end;
}

/*===========================| RESPONSIVE |===========================*/

@media screen and (max-width: 950px) {
    #football-teams > div:nth-child(2) figure {
        height: 300px;
    }
}

@media screen and (max-width: 850px) {
    #main-container {
        margin: 100px 0;
    }

    #main-container > button:nth-child(3) {
        display: none;   
    }

    #main-container > span {
        display: none;
    }

    #slider {
        flex-direction: column;
        width: 100%;
    }

    .slide {
        height: max-content;
    }

    .slide:not(:first-child) {
        padding-top: 70px;
    }

    .slide:not(:last-child) {
        border-bottom: 1px solid rgb(var(--white) / .2);
    }
    
    #presentation > div > div:first-child {
        width: 150px;
    }
    
    #presentation > div > div:first-child::after {
        transform-origin: calc(75px + calc(var(--electron) / 2)) 0;
    }

    #parcours > ul {
        display: none;
    }

    #parcours > div > div {
        --gap: 30px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: unset;
    }

    #parcours > div > div > div {
        width: 70%
    }

    #parcours > div > div > div:not(:last-child) {
        padding-bottom: calc(var(--gap) / 2);
        border-bottom: 1px solid rgb(var(--white) / .2);
    }
    
    #competences > div > ul > li {
        padding: 15px 0;
    }

    #competences > div > ul > li:nth-child(odd) {
        padding-right: 30px;
    }

    #competences > div > ul > li ul li div span {
        width: 6px;
    }

    #print > div > div {
        width: 300%;
        display: flex;
        justify-content: center;
    }

    #print > div, #motion > div, #code > div {
        margin-bottom: 20px
    }

    .video-container {
        width: 100%;
    }

    .video-container > div > div:nth-child(2) {
        transform: translateY(0);
        opacity: 1;
    }

    .video-container > div > div:nth-child(4) div {
        padding: 20px 20px 50px;
    }

    .btns-container div:last-child {
        width: 40%;
        justify-content: center;
    }

    .icone-play svg {
        width: 20%;
    }

    #football-teams, #music-playlist {
        row-gap: 20px;
    }

    #football-teams {
        grid-template: auto auto / 250px auto;
    }

    #football-teams > div:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
    }

    #football-teams > div:nth-child(1) div {
        margin: auto;
    }

    #music-playlist {
        grid-template: auto 320px / auto;
    }

    #music-playlist > div:nth-child(1) {
        display: flex;
        gap: 20px;
    }

    #music-playlist > div:nth-child(1) p {
        min-height: unset;
    }

    #music-playlist > div:nth-child(1) > div div:first-child {
        flex-direction: column;
        gap: 10px;
    }

    #music-playlist > div:nth-child(1) > div div:last-child {
        display: none;
    }

    #show-images {
        position: fixed;
        z-index: 10;
    }

    #show-images > div {
        width: clamp(250px, 65vw, 400px);
    }

    #show-images > div img {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #player {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 100px;
    }

    #player > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #player picture {
        display: none;
    }

    #player div:nth-child(1) > div {
        width: max-content;
    }

    #player > div:nth-child(1) > div div {
        gap: 10px;
    }

    #player > div:nth-child(2) {
        margin-top: 0;
    }

    #main-container {
        margin-top: 140px;
    }

    #competences > div > ul > li ul li {
        grid-template: 20px / 20px 100px auto;
    }
}

@media screen and (max-width: 650px) {
    #competences > div > ul {
        width: 100%;
    }

    #competences > div > ul > li {
        width: 100%;
        padding: 0;
    }

    #competences > div > ul > li:not(:last-child) {
        padding: 0 0 30px;
    }

    #football-teams {
        grid-template: auto auto auto / auto;
    }

    #football-teams > div:nth-child(1) {
        grid-area: unset;
    }

    #football-teams > div:nth-child(3) > div {
        justify-content: center;
    }

    #football-teams > div:nth-child(3) > div:nth-child(2) ul li {
        text-align: center;
    }

    #football-teams > div:nth-child(3) > div:nth-child(3) {
        display: none;
    }

    #music-playlist > div:nth-child(1) {
        flex-direction: column;
    }

    #music-playlist > div:nth-child(1) > div div:first-child {
        flex-direction: row;
    }

    #music-playlist > div:nth-child(1) > div div:last-child {
        display: block;
    }

    #music-playlist > div:nth-child(2) table tr th:nth-child(n+4),
    #music-playlist > div:nth-child(2) table tr td:nth-child(n+4) {
        display: none;
    }

    #music-playlist > div:nth-child(2) table tr th:nth-child(1),
    #music-playlist > div:nth-child(2) table tr td:nth-child(1) {
        width: 10%;
    }

    #music-playlist > div:nth-child(2) table tr th:nth-child(2),
    #music-playlist > div:nth-child(2) table tr td:nth-child(2) {
        width: 45%;
    }

    #music-playlist > div:nth-child(2) table tr th:nth-child(3),
    #music-playlist > div:nth-child(2) table tr td:nth-child(3) {
        width: 45%;
    }

    #contact form {
        display: flex;
        flex-direction: column;
    }

    #contact form input[type="submit"] {
        margin-bottom: 30px;
    }

    #contact form div, #contact form iframe {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    #presentation > div > div:first-child {
        width: 100px;
    }
    
    #presentation > div > div:first-child::after {
        transform-origin: calc(50px + calc(var(--electron) / 2)) 0;
    }

    #competences > div > ul > li ul li div {
        width: 100%;
    }

    #parcours > div > div > div {
        width: 100%
    }

    .video-container > div > div:nth-child(4) div p {
        display: none;
    }

    #contact form span::after {
        top: 20px;
        margin-left: 0;
        left: 0;
    }

@media screen and (max-width: 375px) {
    #print > div > div > div {
        width: 37vw;
    }
}
}